*.pyc
.vscode
*.egg-info
venv/
dist/
build/
docs/_build/
docs/fortls_changes.md
fortls/_version.py

.idea

*.o
*.mod
*.smod
*.log

.coverage
coverage.xml

# Ignore M_intrinsics repo
M_intrinsics
benchmarks/
scripts/
