name: Docs Preview

permissions:
  pull-requests: write

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - edited
      - closed
    paths:
      - "docs/**"
      - "fortls/interface.py"
  workflow_dispatch:

concurrency: preview-${{github.ref}}

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Build docs
        run: |
          pip install -e .[dev,docs]
          make -C docs html
      - name: Deploy Preview
        uses: rossjrw/pr-preview-action@v1.4.7
        with:
          source-dir: docs/_build/html
          preview-branch: gh-pages
          custom-url: fortls.fortran-lang.org
