name: Tests

on:
  [push, pull_request]
  # Allows you to run this workflow manually from the Actions tab
  # workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12"]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Setup
        run: pip install .[dev]

      - name: Lint
        run: black --diff --check --verbose .

      - name: Check schema is up to date
        run: |
          python3 -m fortls.schema
          git diff --exit-code ./fortls/fortls.schema.json

      - name: Unittests
        run: pytest --doctest-modules -n auto

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4.4.0
        with:
          fail_ci_if_error: true
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
